#define VOS_NT_WINDOWS32    0x00040004L
#define VFT_APP                      0x00000001L

#include "../src/svnrevision.h"

1 VERSIONINFO
FILEVERSION 0,7,0,SVN_REVISION_NUMBER
PRODUCTVERSION 0,7,0,SVN_REVISION_NUMBER
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "The Skulltag Team"
			 VALUE "FileVersion", "0.7.0.0"
			 VALUE "FileDescription", "Doom server browser"
			 VALUE "InternalName", "doomseeker"
			 VALUE "LegalCopyright", "The Skulltag Team 2009 - 2010"
			 VALUE "LegalTrademarks", ""
			 VALUE "OriginalFilename", "doomseeker.exe"
			 VALUE "ProductName", "Doomseeker"
			 VALUE "ProductVersion", "0.7.0.0"
		 }
	 }
}

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST		"doomseeker.exe.manifest"
IDI_ICON1   ICON    DISCARDABLE "icon_windows.ico"
